@page "/visitList"
@using Projekt_Inzynierski.Core.DTOs;
@attribute [Authorize(Roles = "Employee")]
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager NavigationManager
@inject HttpClient _httpClient

<div class="d-flex justify-content-between">
    <h3>Lista Wizyt</h3>
    <div class="hstack gap-1">
        <div class="input-group">
            <input type="text" class="form-control" @bind="@searchPhrase" />
            <input type="button" class="btn btn-primary" @onclick=@Search value="Szukaj" />
        </div>
        <NavLink class="nav-link" href="visitAdd">
            <input type="button" class="btn btn-success" value="+ Dodaj" />
        </NavLink>
    </div>
</div>

@if (visits == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Pesel</th>
                <th>Data i godzina wizyty</th>
                <th>Operacja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in visits)
            {
                <tr>
                    <td>@visit.FirstName</td>
                    <td>@visit.LastName</td>
                    <td>@visit.Email</td>
                    <td>@visit.Pesel</td>
                    <td>@visit.VisitDate.ToShortDateString() @visit.VisitDate.ToShortTimeString()</td>
                    <td class="hstack">
                        <a class="nav-link" href="visitForm/details/@visit.Id">
                            <span class="oi oi-magnifying-glass" aria-client="true"></span>
                        </a>
                        <a class="nav-link" href="visitForm/edit/@visit.Id">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </a>
                        <a class="nav-link" href="" @onclick="@(() => {DeleteVisit(visit.Id); })">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    ICollection<VisitDto> visits = new List<VisitDto>();
    private string searchPhrase;

    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        var token = await customAuthStateProvider.GetToken();
        if (!string.IsNullOrEmpty(token))
        {
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            visits = await _httpClient.GetFromJsonAsync<ICollection<VisitDto>>($"api/visit?searchPhrase={searchPhrase}");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }

    }

    protected async void DeleteVisit(int id)
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        var token = await customAuthStateProvider.GetToken();
        if (!string.IsNullOrEmpty(token))
        {
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await _httpClient.DeleteAsync($"api/visit/{id}");
            NavigationManager.NavigateTo("visitList");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    protected async void Search()
    {
        await OnInitializedAsync();
        StateHasChanged();
    }
}