@page "/groupTrainingList/clientTrainings"
@using Projekt_Inzynierski.Core.DTOs;
@attribute [Authorize(Roles = "Client")]
@inject NavigationManager NavigationManager
@inject HttpClient _httpClient
@inject AuthenticationStateProvider authStateProvider

<div class="d-flex justify-content-between">
    <h3>Twoje Treningi</h3>
    <NavLink class="nav-link" href="groupTrainingAdd">
        <input type="button" class="btn btn-success" value="+ Dodaj" />
    </NavLink>
</div>

@if (groupTrainings == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <table class="table table-striped">
        <thead class="ligh">
            <tr>
                <th>Typ treningu</th>
                <th>Limit miejsc</th>
                <th>Ilość wolnych miejsc</th>
                <th>Data i godzina rozpoczęcia</th>
                <th>Trenerzy</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var groupTraining in groupTrainings)
            {
                <tr>
                    <td>@groupTraining.TrainingType</td>
                    <td>@groupTraining.MaxClients</td>
                    <td>@groupTraining.FreeSpots</td>
                    <td>@groupTraining.StartDate.ToShortDateString() @groupTraining.StartDate.ToShortTimeString()</td>
                    <td>
                        @foreach (var trainer in groupTraining.Trainers)
                        {
                            <p>@trainer.FirstName @trainer.LastName</p>
                        }
                    </td>
                    <td class="hstack">
                        <a class="nav-link" href="" @onclick="@(() => {SignOutOfTraining(groupTraining.Id); })">
                            <span class="btn btn-danger" aria-hidden="true">Wypisz się</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string ListMode { get; set; }

    ICollection<GroupTrainingDto> groupTrainings = new List<GroupTrainingDto>();

    private string Role = "";

    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        Role = await customAuthStateProvider.GetRole();
        var token = await customAuthStateProvider.GetToken();
        _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        if (!string.IsNullOrEmpty(token))
        {
            groupTrainings = await _httpClient.GetFromJsonAsync<ICollection<GroupTrainingDto>>("api/groupTraining/yourGroupTrainings");
        }
        else
            NavigationManager.NavigateTo("/login");
    }

    protected async void SignOutOfTraining(int id)
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        var token = await customAuthStateProvider.GetToken();
        if (!string.IsNullOrEmpty(token))
        {
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await _httpClient.PostAsJsonAsync($"api/groupTraining/signOut/{id}", id);
            NavigationManager.NavigateTo("groupTrainingList/clientTrainings");
        }
        else
            NavigationManager.NavigateTo("/login");
    }
}
